<div class="row">
  <div class="col-md-12">
    <form>
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="name">Name :</label>
          <input type="text" #nameInput class="form-control" id="name" />
        </div>
        <div class="col-md-2 form-group">
          <label for="amount">amount :</label>
          <input type="text" #amountInput class="form-control" id="amount" />
        </div>
        <br />
        <div class="row">
          <div class="col-md-12 mt-2">
            <button class="btn btn-success" type="button" (click)="onAddItem()">
              Add
            </button>
            &nbsp;
            <button class="btn btn-success">Clear</button>
            &nbsp;
            <button class="btn btn-success">Delete</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
